@model  PkpmGX.Models.CheckQualifyViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Tab_Layout.cshtml";
}


<div id="form_container" style="width:100%;height:100%  ;overflow:auto"></div>
<div id="recinfoArea" style="width:100%;overflow:auto"></div>
<div id="gridbox" style="position:fixed; top:100px; left: 0; right: 0; bottom: 43px"></div>
<div id="pagingArea" style="position: fixed; bottom: 0; width:100%;"></div>

@* xxf: 为导出Excel添加以下代码 ---------------------------------------------------- *@
<style>
    legend {
        margin-bottom: 0;
    }
</style>

<script type="text/javascript" src="~/Dhtmlx/ext/excel_exporter.js?v=1"></script>
@* ---------------------------------------------------------------------------- *@
<script type="text/javascript">

    var mygrid, myForm, myTabbar, myToolbar, applyWin, applyForm, itemWin, configWin, configForm, itemForm, selectedItem;
    dhxWins = new dhtmlXWindows();
    dhxWins.attachViewportTo("gridbox");


    function doOnLoad() {
        dhxWins = new dhtmlXWindows();
        selectedItem = [];
        formStructure = [
           { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 220, labelWidth: 120 },
           { type: "combo", label: "企业名称", name: "CustomId" },
           { type: "input", label: "法人", name: "LegalPeople" },
           { type: "newcolumn" },
           { type: "combo", name: "companyType", label: "企业性质", options: [{ text: "全部", value: "", selected: true }] },
           { type: "combo", name: "status", label: "状态", options: [{ text: "全部", value: "", selected: true }] },
           { type: "newcolumn" },
           { type: "button", name: 'Search', value: "查询", offsetLeft: 150 }
             //{
             //    type: "block", width: "auto", list: [
             //       { type: "input", label: "检测资质类别", name: "QuantityCategory", readonly: true, rows: 2, labelWidth: 60 },
             //       { type: "newcolumn" },
             //       { type: "template", label: "", value: "[选择]", format: showItem, inputWidth: 40, labelWidth: 5 },
             //      { type: "template", label: "", value: "[清空]", format: clearItem, inputWidth: 40, labelWidth: 5 }
             //    ]
             //}
        ];

        myForm = new dhtmlXForm("form_container", formStructure);

        myForm.attachEvent("onButtonClick", function (name) {
            if (name == "Search") {
                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                mygrid.clearAll();
                myTabbar.tabs("gridboxOne").progressOn();
                mygrid.load(gridQString, doOnGridLoaded);
            }

        });

        myTabbar = new dhtmlXTabBar({
            parent: "gridbox",
            tabs: [
                { id: "gridboxOne", text: "查询结果", active: true }
            ]
        });
        myTabbar.enableAutoReSize();

        myToolbar = myTabbar.cells("gridboxOne").attachToolbar();
        myToolbar.setIconset("awesome");
        myToolbar.loadStruct("/STCheckQualify/ToolBar");
        myToolbar.attachEvent("onClick", function (id) {
            if (id == "NewCustom") {
                NewCustom();
            }
            else if (id == "DeleteCustom") {
                //删除
                var selectedId = mygrid.getCheckedRows(0)
                if (selectedId.length > 0) {
                    var index = layer.confirm('确定要进行删除操作？', {
                        btn: ['确认', '取消']
                    }, function () {
                        window.dhx.ajax.post("/STCheckQualify/Delete", "selectedId=" + selectedId, function (response) {
                            var t = window.dhx.s2j(response.xmlDoc.responseText);
                            if (t != null && t.IsSucc) {
                                layer.alert('删除成功');
                                mygrid.clearAll();
                                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                                mygrid.load(gridQString, doOnGridLoaded);
                            }
                            else {
                                layer.alert(t.ErroMsg);
                            }
                        })
                    }, function () {
                        layer.close(index);
                    });
                }
                else {
                    layer.alert('请勾选要删除的企业')
                }

            }
            else if (id == "ReturnState") {
                //删除
                var selectedId = mygrid.getCheckedRows(0)
                if (selectedId.length > 0) {
                    var index = layer.confirm('你确定要进行状态返回操作？', {
                        btn: ['确认', '取消']
                    }, function () {
                        window.dhx.ajax.post("/STCheckQualify/SetInstState", "selectedId=" + selectedId + "&state=0", function (response) {
                            var t = window.dhx.s2j(response.xmlDoc.responseText);
                            if (t != null && t.IsSucc) {
                                layer.alert('状态返回成功');
                                mygrid.clearAll();
                                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                                mygrid.load(gridQString, doOnGridLoaded);
                            }
                            else {
                                layer.alert(t.ErroMsg);
                            }
                        })
                    }, function () {
                        layer.close(index);
                    });
                }
                else {
                    layer.alert('请勾选要状态返回的企业')
                }

            }
            else if (id == "SetState") {
                //删除
                var selectedId = mygrid.getCheckedRows(0)
                if (selectedId.length > 0) {
                    var index = layer.confirm('你确定要进行递交操作？', {
                        btn: ['确认', '取消']
                    }, function () {
                        window.dhx.ajax.post("/STCheckQualify/SetInstState", "selectedId=" + selectedId + "&state=1", function (response) {
                            var t = window.dhx.s2j(response.xmlDoc.responseText);
                            if (t != null && t.IsSucc) {
                                layer.alert('递交成功');
                                mygrid.clearAll();
                                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                                mygrid.load(gridQString, doOnGridLoaded);
                            }
                            else {
                                layer.alert(t.ErroMsg);
                            }
                        })
                    }, function () {
                        layer.close(index);
                    });
                }
                else {
                    layer.alert('请勾选要递交的企业')
                }
            }
            else if (id == "Export") {
                exporter.show();
            }
            else if (id == "Screening") {
                //删除
                var selectedId = mygrid.getCheckedRows(0)
                if (selectedId.length > 0) {
                    var index = layer.confirm('你确定要进行屏蔽操作？', {
                        btn: ['确认', '取消']
                    }, function () {
                        window.dhx.ajax.post("/STCheckQualify/Screening", "selectedId=" + selectedId + "&state=1", function (response) {
                            var t = window.dhx.s2j(response.xmlDoc.responseText);
                            if (t != null && t.IsSucc) {
                                layer.alert('屏蔽成功');
                                mygrid.clearAll();
                                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                                mygrid.load(gridQString, doOnGridLoaded);
                            }
                            else {
                                layer.alert(t.ErroMsg);
                            }
                        })
                    }, function () {
                        layer.close(index);
                    });
                }
                else {
                    layer.alert('请勾选要屏蔽的企业')
                }
            }
            else if (id == "RelieveScreening") {
                //删除
                var selectedId = mygrid.getCheckedRows(0)
                if (selectedId.length > 0) {
                    var index = layer.confirm('你确定要进行解除屏蔽操作？', {
                        btn: ['确认', '取消']
                    }, function () {
                        window.dhx.ajax.post("/STCheckQualify/RelieveScreening", "selectedId=" + selectedId + "&state=1", function (response) {
                            var t = window.dhx.s2j(response.xmlDoc.responseText);
                            if (t != null && t.IsSucc) {
                                layer.alert('解除屏蔽成功');
                                mygrid.clearAll();
                                gridQString = '/STCheckQualify/Search?' + getQueryStr();
                                mygrid.load(gridQString, doOnGridLoaded);
                            }
                            else {
                                layer.alert(t.ErroMsg);
                            }
                        })
                    }, function () {
                        layer.close(index);
                    });
                }
                else {
                    layer.alert('请勾选要解除屏蔽的企业')
                }
            }
        });

        mygrid = myTabbar.tabs("gridboxOne").attachGrid();
        //mygrid = new dhtmlXGridObject('gridbox');

        mygrid.setImagePath("../../Dhtmlx/codebase/imgs/");
        mygrid.setHeader("&nbsp,序号,企业名称,检测证书编号,计量证书编号,法人,联系电话,状态,&nbsp,&nbsp,&nbsp");//设置列的头文本
        mygrid.setInitWidths("40,40,*,200,200,150,200,80,100,40,40");          //设置列的宽度，其中* 为动态宽度
        mygrid.setColAlign("left,right,left,left,left,left,left,left,left,left,left");       //设置列的左右对齐
        mygrid.setColTypes("ch,ro,ro,ro,ro,ro,ro,ro,layuijslinks,edit,view");                //设置列的类型，一般ro 为只读类型，用的也最多
        mygrid.setColSorting("server,server,server,server,server,server,server,server,server,server,server");          //设置列的排序 int还是str
        mygrid.init();      //最后初始化列
        mygrid.attachEvent("onBeforeSorting", sortGridOnServer);

        var checkInstCombo = myForm.getCombo("CustomId");
        var statusCombo = myForm.getCombo("status");
        var companyTypeCombo = myForm.getCombo("companyType");


        checkInstCombo.enableFilteringMode('between');

        checkInstCombo.load("/STCheckQualify/InstSTCombo");


        setComboCustomFilter(checkInstCombo);

        @{
            foreach (var item in Model.CompanyStatus)
            {
                @:statusCombo.addOption('@(item.KeyValue)', '@(item.Name)');
                                                    }
        }


        @{
            foreach (var item in Model.CompanyTypes)
            {
                @:companyTypeCombo.addOption('@(item.KeyValue)', '@(item.Name)');
                            }
        }


        mygrid.enablePaging(true, 15, null, "pagingArea", true, "recinfoArea");
        mygrid.setPagingSkin("bricks");
        gridQString = '/STCheckQualify/Search?' + getQueryStr();

        myTabbar.tabs("gridboxOne").progressOn();
        mygrid.load(gridQString, doOnGridLoaded);

        var exporter = new ExcelExporter(myForm, mygrid, 15, "/STCheckQualify/Export");
    }

     

    function setInstPrintConfig(customId, printConfig) {
        layer.open({
            type: 2,
            area: ['400px', '250px'],
            fixed: false, //不固定
            maxmin: true,
            title: "企业委托单打印设置",
            content: '/STCheckQualify/PrintSetConfig?id=' + customId + '&printConfig=' + printConfig
        });
    }

    function NewCustom() {
        layer.open({
            type: 2,
            area: ['500px', '350px'],
            fixed: false, //不固定
            maxmin: true,
            title: "新增企业",
            content: '/STCheckQualify/CreateCustom'
        });
    }

    function setInstFormal(customid, customname) {
        layer.open({
            type: 2,
            area: ['500px', '250px'],
            fixed: false, //不固定
            maxmin: true,
            title: "新增企业",
            content: '/STCheckQualify/setInstFormal?customid=' + customid
        });
    }

    function applyChange(id, name) {
        layer.open({
            type: 2,
            area: ['400px', '250px'],
            fixed: false, //不固定
            maxmin: true,
            title: name + "申请修改",
            content: '/STCheckQualify/ApplyChange?ID=' + id
        });
    }

    function getQueryStr() {
        var data = [];
        var formData = myForm.getFormData(true);
        for (var key in formData) {
            data.push(key + "=" + encodeURIComponent(formData[key]));
        }
        return data.join('&');
    }

    function getGirdSortStr(ind, direct) {
        var data = [];
        data.push("orderColInd" + "=" + encodeURIComponent(ind));
        data.push("direct" + "=" + encodeURIComponent(direct));
        return data.join('&');
    }

    function sortGridOnServer(ind, gridObj, direct) {
        if (ind >= 2 && ind <= 7) {
            mygrid.clearAll();
            myTabbar.tabs("gridboxOne").progressOn();
            mygrid.load(gridQString + '&' + getGirdSortStr(ind, direct), doOnGridLoaded);
            mygrid.setSortImgState(true, ind, direct);
        }
        return false;
    }

    // grid dataload callback
    function doOnGridLoaded() {
        myTabbar.tabs("gridboxOne").progressOff();
    }

    function excellView_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        window.parent.Hui_admin_tab_raw("/STCheckQualify/Details?id=" + rowId, "商砼企业查看");
    }

    function excellEdit_click(obj) {
        var rowId = $(obj).attr('data-rowId');
        var IsAdmin = '@Model.IsAdmin';
        //IsAdmin == "True" || IsAdmin == "true"
        //if (true) {
        window.parent.Hui_admin_tab_raw("/STCheckQualify/Edit?id=" + rowId, "商砼企业编辑");
        //}
        //else {
        //    window.parent.Hui_admin_tab_raw("/STCheckQualify/EditSTCheckQualify?id=" + rowId, "检测企业编辑");
        //}

    }

    function doOnUnload() {

    }


    function confirmApplyChange(id, name) {
        layer.open({
            type: 2,
            area: ['400px', '250px'],
            fixed: false, //不固定
            maxmin: true,
            title: "审核" + name + "的申请修改",
            content: '/STCheckQualify/ConfirmApplyChange?ID=' + id
        });
    }



    //window.dhx.ajax.get("/STCheckQualify/GetSuperJob?Id=" + id, function (r) {
    //    var supervisorJob = window.dhx.s2j(r.xmlDoc.responseText);
    //    if (supervisorJob) {
    //        var confirmApplyWin = dhxWins.createWindow("confirmApplyW", 20, 30, 380, 280);
    //        confirmApplyWin.setModal(true);
    //        confirmApplyWin.center();
    //        confirmApplyWin.setText('审核' + name + '申请修改');

    //        var confirmApplyForm = confirmApplyWin.attachForm();
    //        var menuFormStructrue = [
    //             { type: "settings", position: "label-left", labelAlign: "right", inputWidth: 180, labelWidth: 120 },
    //             { type: "input", name: "SubmitName", label: "申请人", required: true, value: supervisorJob.SubmitName },
    //             { type: "input", name: "SubmitText", label: "申请原因", required: true, rows: 2, value: supervisorJob.SubmitText },
    //             { type: "hidden", value: id, name: 'SubmitId' },
    //             { type: "button", name: 'Save', value: "确定", offsetLeft: 150 }
    //        ];
    //        confirmApplyForm.load(menuFormStructrue);

    //        confirmApplyForm.attachEvent("onButtonClick", function (name) {
    //            confirmApplyForm.send("/STCheckQualify/ConfirmApplyChange", "post", function (loader, response) {
    //                var t = window.dhx.s2j(response);
    //                if (t != null && t.IsSucc) {
    //                    dhtmlx.message("审核申请修改操作成功！");
    //                    confirmApplyWin.close();
    //                    mygrid.clearAll();
    //                    myTabbar.tabs("gridboxOne").progressOn();
    //                    mygrid.load(gridQString, doOnGridLoaded);
    //                } else {
    //                    dhtmlx.alert(t.ErroMsg);
    //                }

    //            });
    //        });
    //    }
    //});




</script>
