@model PkpmGX.Models.ApplyQualifyOneViewModel

@{
    ViewBag.Title = "EditQualifyOne";
    Layout = "~/Views/Shared/LayuiTab_Layout.cshtml";
}

<link href="~/static/layuiadmin/layui/css/formSelects-v4.css" rel="stylesheet" />

<div class="header_cq" style="height:10px">
</div>
<div class="layui-container">
    <div class="layui-row" id="ApplyQualify-EditOne-tableContainer">
        <form class="layui-form" action="" lay-filter="ApplyQualify-EditOne-form">
            <div class="layui-card">
                <div class="layui-form-item">
                    <label class="layui-form-label">检测单位名称<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="UnitName" lay-verify="required" disabled placeholder="" autocomplete="off" class="layui-input">
                        <input type="text" name="UnitCode" placeholder="" autocomplete="off" class="layui-hide">
                        <input type="text" name="Id" placeholder="" autocomplete="off" class="layui-hide">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位所在区域<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <select name="Area" lay-verify="required">
                            <option value=""></option>
                            @{
                                foreach (var item in Model.Region)
                                {
                                    <option value="@item.regionname">@item.regionname</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">法定代表人<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号码<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="Selfnum" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">填报时间<span style="color:red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" id="AddTime" name="AddTime" lay-verify="required" disabled placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <center>
                            <button class="layui-btn" lay-submit lay-filter="addQualifyOne-Edit-save">保存</button>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.config({
        base: '../../Static/layuiadmin/lib/' //静态资源所在路径
    }).extend({
        index: 'lib/index',
        formSelects: 'formSelects-v4'
    });

    layui.use(["form", "element", "layer", "table", "view", 'formSelects', 'upload', 'layedit', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            table = layui.table,
            layedit = layui.layedit,
            view = layui.view,
            formSelects = layui.formSelects,
            element = layui.element,
            router = layui.router();

        form.val("ApplyQualify-EditOne-form", {
            "Id": "@Model.Id",
            "UnitName": "@Model.UnitName",
            "UnitCode": "@Model.UnitCode",
            "Name": "@Model.Name",
            "Area": "@Model.Area",
            "Selfnum": "@Model.Selfnum",
            "AddTime": "@Model.AddTime"
        });


        form.on('submit(addQualifyOne-Edit-save)', function (data) {

            var dataField = data.field;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/ContinuingQualify/EditQualifyOne",
                data: dataField,
                success: function (d) {
                    if (d.IsSucc) {
                        layer.alert('保存成功', {
                            btn: ['确定'],
                            yes: function (index) {
                                parent.layer.closeAll();
                                window.parent.location.reload();//刷新父页面
                            },

                            icon: 1
                        });
                    }
                    else {
                        layer.msg('保存失败，错误信息：' + d.ErroMsg, {
                            icon: 2
                        });
                    }
                }
            })

            return false;

        });
    });




</script>

